<div class="societyHeader"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    All Amenities
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-users"></i> All Amenities
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2> All Amenities </h2>
                <div class="table-responsive">
                    <table id="entry-grid" datatable="ng" width="100%">
                        <thead>
                            <th>ID</th>
                            <th>Amenity Image</th>
                            <th>Amenity Name</th>
                            <th>Charge(Per Day)</th>
                            <th>Maximum time for payment(In Hours)</th>
                            <th>Description</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="amenity in amenities">
                                <td>{{amenity.id}}</td>
                                 <td><img ng-src="uploads/{{amenity.image}}" width="50px"></td>
                                <td>{{amenity.aminity_name}}</td>
                                <td>{{amenity.charges}}</td>
                                <td align="center">{{amenity.time_for_pay}}</td>
                                <td>{{amenity.description}}</td>
                               
                                <td><a href="#" data-toggle="modal" data-target="#myModal1" ng-click="updateId(amenity.id)"><i class="fa fa-edit"></i></a> | <a href="javascript:void(0)" ng-click="deleteAmility(amenity.id)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</div>
    <!-- /#page-wrapper -->


<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Details</h4>
        </div>
        <div class="modal-body">
            <h4 class="pull-left">Amenity Details</h4>
            <form name="updateFaciilityDetail">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label  class="pull-left">Amenity Name</label>
                            <input class="form-control" type="text" placeholder="Enter Amenity Name" name="facilityName" ng-model="facilityDetail.aminity_name" required>
                            <p ng-show="updateFaciilityDetail.facilityName.$invalid && !updateFaciilityDetail.facilityName.$pristine" class="help-block red-text">Please enter Amenity name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label  class="pull-left">Charge</label>
                            <input class="form-control" min="0" type="number" placeholder="Enter Amenity Charge" name="facilityCharge" ng-model="facilityDetail.charges" required>
                            <p ng-show="updateFaciilityDetail.facilityCharge.$invalid && !updateFaciilityDetail.facilityCharge.$pristine" class="help-block red-text">Please enter Amenity charge</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label  class="pull-left">Time for payment</label>
                            <input class="form-control" type="number"  min="0" placeholder="Enter time for payment" name="timeForPay" ng-model="facilityDetail.time_for_pay" required>
                            <p ng-show="updateFaciilityDetail.timeForPay.$invalid && !updateFaciilityDetail.timeForPay.$pristine" class="help-block red-text">Please enter Amenity charge</p>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea placeholder="Enter Description" class="form-control" name="desc" ng-model="facilityDetail.description" required></textarea>
                            <p ng-show="updateFaciilityDetail.desc.$invalid && !updateFaciilityDetail.desc.$pristine" class="help-block red-text">Please enter Amenity description</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="updateFaciilityDetail.$invalid" ng-click="updateAmelityDetails()" class="btn btn-success" data-dismiss="modal">Update</button>
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>


<society-footer></society-footer>