<div class="societyHeader"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                   <!--  Dashboard -->
                </h3>
                <br>
                <ol class="breadcrumb">
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Know Job Card's Status
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="entry-grid" datatable="ng" width="100%">
                        <thead>
                            <th>Job Card ID</th>
                            <th>Category</th>
                            <th>Vendor Name</th>
                            <th>Job Card Type</th>
                            <th>Starting Date</th>
                            <th>Description</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="facility in jobcard">
                                <td>{{facility.job_card_id}}</td>
                                <td>{{facility.category}}</td>
                                <td>{{facility.vendor_name}}</td>
                                <td>{{facility.job_card_type}}</td>
                                <td>{{facility.start_date |date: 'dd MMMM, yyyy'}}</td>
                                <td>{{facility.description}}</td>
                                <td><a href="javascript:void(0)" ng-click="print(facility.job_card_id)"><i class="fa fa-print"></i></a> | <a href="#/view-job-card/{{id}}/{{facility.enc_id}}"><i class="fa fa-eye"></i></a> | <a href="javascript:void(0)" ng-click="deleteJob(facility.job_card_id)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<society-footer></society-footer>
