<div id="footer-1">
    <div class="bg-img-footer"></div>
</div>
<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->
<footer id="footer">
    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->
    <div class="footer_section_3 align_center blackbg">
        <div class="container">
            <!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->
            <div class="col-sm-3 footer-paddtop">
                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/Man2Help" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/111875329669610381425" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://twitter.com/Man2Help" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-3 footer-paddtop">
                <h6 style="color:#8d8e8b;"><i class="fa fa-mobile-phone"></i> Call Us : +91 (020) 62546850 <br> or +91 8683389836</h6>
            </div>
            <div class="col-sm-3 footer-paddtop">
                <h6 style="color:#8d8e8b;"><i class="fa fa-map-marker"></i> 506, Sparsh Residency, Keshav Nagar <br> Pune 411 036</h6>
            </div>
            <!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->
            <div class="col-sm-3">
                <p class="copyright">
                    <a href="" class="grey-light-text" alt="">
                        <img src="images/image/footer-logo.png" alt="" title="WebSteppe.com"></a>
                    <br> © 2016 <a href="#" class="grey-light-text">Society.</a> All Rights Reserved. | </p>
            </div>
        </div>
        <!--/ .container-->
    </div>
    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->
</footer>
<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->
