<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->
<header id="header" class="type_4">
    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->
    <div class="bottom_part">
        <div class="container">
            <div class="row">
                <div class="main_header_row">
                    <div class="col-md-2 small-half-box">
                        <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
                        <a href="index.html" class="logo">
                            <img src="images/image/logo.jpg" alt="">
                        </a>
                        <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->
                    </div>
                    <!--/ [col]-->
                    <div class="col-md-7 big-half-box">
                        <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->
                        <nav class="align_left home-nav">
                            <ul class="topbar">
                                <li><a href="#/">Home</a></li>
                                <li><a href="#/features">Features</a></li>
                                <li><a href="#/societies">Societies</a></li>
                                <li><a href="#/vendors">Vendor</a></li>
                                <li><a href="#/about">Who We Are</a></li>
                                <li><a href="#/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                        <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->
                    </div>
                    <!--/ [col]-->
                    <div class="col-md-2 half-box">
                        <!-- - - - - - - - - - - - - - Call to action - - - - - - - - - - - - - - - - -->
                        <div class="call_us align_right">
                            <a class="button_blue" href="dashboard/#/resident-login">LOG IN</a>
                            <!-- <a class="button_dark_grey" href="#">SIGN UP</a> -->
                        </div>
                        <!--/ .call_us-->
                        <!-- - - - - - - - - - - - - - End call to action - - - - - - - - - - - - - - - - -->
                    </div>
                    <!--/ [col]-->
                </div>
                <!--/ .main_header_row-->
            </div>
            <!--/ .row-->
        </div>
        <!--/ .container-->
    </div>
    <!--/ .bottom_part -->
    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->
</header>
<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->
