<indexheader></indexheader>
<!-- - - - - - - - - - - - - - Layer slider - - - - - - - - - - - - - - - - -->
<div class="silder-img">
    <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->
    <h1 class="silder-heading">SocietyLite brings them <span style="color:#f6c709;"> under one roof</span> for you.</h1>
    <p class="silder-ptext">Society Management tool which serves as your friend in managing your society. Fully packed features that helps you automate most of the complex work for society management. </p>
    <!-- - - - - - - - - - - - - - Main navigation wrapper - - - - - - - - - - - - - - - - -->
    <div id="main_navigation_wrap" class="serbg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-xs-offset-0 col-sm-offset-1">
                    <div class="sticky_inner">
                        <div class="nav_item inner_offset">
                            <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->
                            <!-- action="http://man2help.com/anyuser.php" method="post" -->
                            <form class="clearfix search" >
                                <input type="text" name="name" value="{{help.name}}" ng-model="help.name" tabindex="1" placeholder="Firts Name" class="alignleft">
                                <input type="text" name="mobile" value="{{help.mobile}}" ng-model="help.mobile" tabindex="1" placeholder="Mob No." class="alignleft">
                                <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
                                <input type="hidden" name="service" value="{{help.service}}">
                                <div class="search_category alignleft whitebg">
                                    <div class="open_categories" ng-model="service">Architect</div>
                                    <ul class="categories_list dropdown">
                                        <li class="animated_item"><a href="#">Demo-1</a></li>
                                        <li class="animated_item"><a href="#">Demo-2</a></li>
                                    </ul>
                                </div>
                                <!--/ .search_category.alignleft-->
                                <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
                                <input type="text" name="city" value="{{help.city}}" ng-model="help.city" tabindex="1" placeholder="City/Pin/ Address" class="alignleft">
                                <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
                                <input type="hidden" name="time" value="{{help.time}}">
                                <div class="search_category alignleft whitebg">
                                    <div class="open_categories" name="time">9am - 12pm</div>
                                    <ul class="categories_list dropdown">
                                        <li class="animated_item"><a href="#">Demo-1</a></li>
                                        <li class="animated_item"><a href="#">Demo-2</a></li>
                                    </ul>
                                </div>
                                <!--/ .search_category.alignleft-->
                                <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
                                <input type="text" name="date" value="{{help.date}}" ng-model="help.date" tabindex="1"  placeholder="Schedule Date" class="alignleft">
                                <button type="submit" ng-click="requestHelp()" class="button_blue def_icon_btn alignleft"></button>
                            </form>
                            <!--/ #search-->
                            <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->
                        </div>
                        <!--/ .nav_item-->
                        <!-- - - - - - - - - - - - - - End of main navigation - - - - - - - - - - - - - - - - -->
                    </div>
                    <!--/ .main_navigation-->
                </div>
                <!--/ [col]-->
            </div>
            <!--/ .row-->
        </div>
        <!--/ .container-->
    </div>
    <!--/ .main_navigation_wrap-->
    <!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->
</div>
<!--/ #layerslider-->
<!-- - - - - - - - - - - - - - End of layer slider - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - End of main navigation wrapper - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->
<div class="page_wrapper p0">
    <div class="container-fluid pwrap">
        <!-- - - - - - - - - - - - - - Banners - - - - - - - - - - - - - - - - -->
        <div class="container section_offset">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="menegment"> Are you part of the Management Committee <br> of your Society?</h3>
                </div>
                <div class="col-sm-4">
                    <div class="banner animated transparent" data-animation="fadeInDown">
                        <img src="images/image/first-1.jpg" alt="" class="alignleft mb0 img-center11">
                        <p class="text-center" style="font-size:15px;">Use SocietyLite - Web based Society Management tool to help mananging Society effieciently with a single click.</p>
                    </div>
                </div>
                <!--/ [col]-->
                <div class="col-sm-4">
                    <div class="banner animated transparent" data-animation="fadeInDown" data-animation-delay="150">
                        <img src="images/image/first-2.jpg" alt="" class="alignleft mb0 img-center11">
                        <p class="text-center" style="font-size:15px;">Keep All Members informed about Society current changes, expenses, events</p>
                    </div>
                </div>
                <!--/ [col]-->
                <div class="col-sm-4">
                    <div class="banner animated transparent" data-animation="fadeInDown" data-animation-delay="300">
                        <img src="images/image/first-3.jpg" alt="" class="alignleft mb0 img-center11">
                        <p class="text-center" style="font-size:15px;">Track all Visitors,Complaints,Society Expenses under one place</p>
                    </div>
                </div>
                <!--/ [col]-->
            </div>
            <!--/ .row-->
        </div>
        <!--/ .section_offset-->
    </div>
    <!-- - - - - - - - - - - - - - End of banners - - - - - - - - - - - - - - - - -->
    <!-- my Style-->
</div>
<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - -  - - -  Silder 2 part section - - - - - - - - - - - - - -->
<section class="bg-img11">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="txt-white text-center">Features</h1>
                <p class="text-center" style="color:#58b9ec; font-size:18px;">Take a look at some of the features</p>
                <div class="container">
                    <div class="row">
                        <!-- Carousel -->
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <!-- Static Header -->
                                    <div class="header-text">
                                        <div class="col-md-6 text-center">
                                            <h2><img src="images/image/silder-left-img.png" alt="" class="img-responsive"/></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4 class="txt-white padd">The features Heading</h4>
                                            <ul class="txt-white padd-ul">
                                                <li>Auto Reminders for society maintenance activity</li>
                                                <li>Auto Reminders for society charge payments</li>
                                                <li>Reminders</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /header-text -->
                                </div>
                                <div class="item">
                                    <!-- Static Header -->
                                    <div class="header-text">
                                        <div class="col-md-6 text-center">
                                            <h2><img src="images/image/silder-left-img.png" alt="" class="img-responsive"/></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4 class="txt-white padd">The features Heading</h4>
                                            <ul class="txt-white padd-ul">
                                                <li>Auto Reminders for society maintenance activity</li>
                                                <li>Auto Reminders for society charge payments</li>
                                                <li>Reminders</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /header-text -->
                                </div>
                                <div class="item">
                                    <!-- Static Header -->
                                    <div class="header-text">
                                        <div class="col-md-6 text-center">
                                            <h2><img src="images/image/silder-left-img.png" alt="" class="img-responsive"/></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4 class="txt-white padd">The features Heading</h4>
                                            <ul class="txt-white padd-ul">
                                                <li>Auto Reminders for society maintenance activity</li>
                                                <li>Auto Reminders for society charge payments</li>
                                                <li>Reminders</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /header-text -->
                                </div>
                                <div class="item">
                                    <!-- Static Header -->
                                    <div class="header-text">
                                        <div class="col-md-6 text-center">
                                            <h2><img src="images/image/silder-left-img.png" alt="" class="img-responsive"/></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4 class="txt-white padd">The features Heading</h4>
                                            <ul class="txt-white padd-ul">
                                                <li>Auto Reminders for society maintenance activity</li>
                                                <li>Auto Reminders for society charge payments</li>
                                                <li>Reminders</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /header-text -->
                                </div>
                                <div class="item">
                                    <!-- Static Header -->
                                    <div class="header-text">
                                        <div class="col-md-6 text-center">
                                            <h2><img src="images/image/silder-left-img.png" alt="" class="img-responsive"/></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4 class="txt-white padd">The features Heading</h4>
                                            <ul class="txt-white padd-ul">
                                                <li>Auto Reminders for society maintenance activity</li>
                                                <li>Auto Reminders for society charge payments</li>
                                                <li>Reminders</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /header-text -->
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon  fa fa-chevron-circle-left"></span>
                                </a>
                                <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon  fa fa-chevron-circle-right"></span>
                                </a>
                            </div>
                            <!-- /carousel -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- - - - - - - - - - - - -  - - -  Silder 2 part section end - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - -  - - -  6 image part section - - - - - - - - - - - - - -->
<section class="padd-six-img">
    <div class="container">
        <div class="row">
            <h3 class="text-center services-head">OUR SERVICES </h3>
            <div class="clearfix"></div>
            <div class="col-sm-2"><img src="images/image/first-circel.jpg" alt="" class="img-circle img-responsive services-img" />
                <h6 class="text-center" style="color:#449edc;">CARPENTER</h6>
            </div>
            <div class="col-sm-2"><img src="images/image/second-circel.jpg" alt="" class="img-circle img-responsive services-img" />
                <h6 class="text-center" style="color:#449edc;">COOK</h6>
            </div>
            <div class="col-sm-2"><img src='images/image/third-circel.jpg' alt="" class="img-circle img-responsive services-img " />
                <h6 class="text-center" style="color:#449edc;">COMPUTER SERVICES</h6>
            </div>
            <div class="col-sm-2"><img src="images/image/fourth-circel.jpg" alt="" class="img-circle img-responsive services-img" />
                <h6 class="text-center" style="color:#449edc;">CLEANING SERVICE</h6>
            </div>
            <div class="col-sm-2"><img src="images/image/five-circel.jpg" alt="" class="img-circle img-responsive services-img" />
                <h6 class="text-center" style="color:#449edc;">PARCEL/TRANSFER</h6>
            </div>
            <div class="col-sm-2"><img src="images/image/sixth-circel.jpg" alt="" class="img-circle img-responsive services-img" />
                <h6 class="text-center" style="color:#449edc;">DOCTOR</h6>
            </div>
        </div>
    </div>
</section>
<!-- - - - - - - - - - - - -  - - -  6 image part section end - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - -  - - -   ENQUIRY FORM image part section - - - - - - - - - - - - - -->
<section class="padd-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 style="color:#0f8fd2;">WHO WE ARE </h3>
                <p><b> "We are here, because we serve better. This attitude is the driving force to constantly Improve on our services and Add Values to our services. Our reputation and success lies in our services"</b>
                    <p>
                        <p>Our dedication and hard work coupled with active support of our clients has taken us from one height to another. With a clientele of 200+ serving a membership of 12,000+ through a staff strength exceeding 50+ (Including associate firms), we are proud to have achieved this feat. </p>
            </div>
            <div class="col-sm-6" style="border-left:1px solid #666;">
                <h3 style="color:#0f8fd2;">ENQUIRY </h3>
                <FORM>
                    <div class="col-sm-12">
                        <input type="text" name="" id="pname" placeholder="Name">
                    </div>
                    <div class="col-sm-12">
                        <input type="text" name="" id="pname" placeholder="Email">
                    </div>
                    <div class="col-sm-12">
                        <input type="text" name="" id="pname" placeholder="Subject">
                    </div>
                    <div class="col-sm-12">
                        <textarea id="textarea_2" name="" rows="5" placeholder="Description"></textarea>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 left_side"></div>
                        <div class="col-sm-6 right_side text-right padd-rightno">
                            <button type="submit" class="button_blue middle_btn pull-right"> Submit </button>
                        </div>
                    </div>
                </FORM>
            </div>
        </div>
    </div>
</section>
<!-- - - - - - - - - - - - -  - - -  ENQUIRY FORM image part section end - - - - - - - - - - - - - -->
<indexfooter></indexfooter>
