<residentheader></residentheader>
<div id="page-wrapper" class="first_name">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Visitor
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-user"></i> Resident Contribution
                    </li>
                </ol>
            </div>
        </div>
    <div class="row">
      <div class="col-sm-8">
        <form name="profileUpdateForm" ng-submit="addMember()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label >Title</label>
                <input type="text" class="form-control" name="title" ng-model="member.name" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >Description</label>
                <input type="text" class="form-control" name="description" ng-model="member.dob" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label >Requested Contribution</label>
                <input type="number" class="form-control"  name="req_con" ng-model="member.contact_no" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >Contribution Amount</label>
                <input type="number" class="form-control" name="con_no"  ng-model="member.email">
                <p ng-show="profileUpdateForm.con_no.$invalid && !profileUpdateForm.con_no.$pristine" class="help-block red-text">Enter your contribution</p>
              </div>
            </div>
          </div>
          
          <button ng-disabled="profileUpdateForm.$invalid" type="submit" class="btn btn-success pull-right">PayuMoney</button>
        </form>
      </div>
    </div>
  </div>
</div>
