<div class="societyHeader"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Eminity
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-users"></i> Maintainance
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2> Maintainace </h2>
                <br>
                <div class="row">
                    <div class="col-sm-8">
                        <form name="amenityAdd" ng-submit="addMaintainance()">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Month</label>
                                        <select name="month" class="form-control" ng-model="maintainance.month">
                                            <option value=""> Select Month </option>
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                        <p ng-show="amenityAdd.month.$invalid && !amenityAdd.month.$pristine" class="help-block red-text">Please select the month</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Year</label>
                                        <select name="year1" class="form-control" ng-model="maintainance.year">
                                            <option value=""> Select Year </option>
                                            <option ng-repeat="i in y" value="{{i}}">{{i}}</option>
                                        </select>
                                        <p ng-show="amenityAdd.year1.$invalid && !amenityAdd.year1.$pristine" class="help-block red-text">Please enter year</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="number" min="0" placeholder="Enter Amount of maintainance" class="form-control" name="payment" ng-model="maintainance.amount" required>
                                        <p ng-show="amenityAdd.payment.$invalid && !amenityAdd.payment.$pristine" class="help-block red-text">Please enter amount </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Last Date</label>
                                        <input type="text" datepicker placeholder="Enter Last Date" class="form-control" name="payment" ng-model="maintainance.last_payment_date" data-mindate="{{today}}" required>
                                        <p ng-show="amenityAdd.payment.$invalid && !amenityAdd.payment.$pristine" class="help-block red-text">Please enter last date</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button ng-disabled="amenityAdd.$invalid" class="btn btn-success pull-right">Generate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Maintainance List</h4>
                        <div class="table-responsive">
                            <table id="entry-grid" datatable="ng" width="100%">
                                <thead>
                                    <th>Month</th>
                                    <th>Year </th>
                                    <th>Amount</th>
                                    <th>Last Payment Date</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <!-- <tr ng-show="noData">
                        <td colspan="9" align="center">No Due</td>
                      </tr> -->
                                    <tr ng-repeat="req in main">
                                        <td>{{req.month}}</td>
                                        <td>{{req.year}}</td>
                                        <td>{{req.amount}}</td>
                                        <td>{{req.last_payment_date | date: 'dd MMM,yyyy'}}</td>
                                        <td> <a href="#/paid-resident/{{id}}" ng-click="paidResList()" title="Paid Resident"><i class="fa fa-list"></i></a> | <a href="#/unpaid-resident/{{id}}" ng-click="unpaidList()" title="Unpaid Resident"><i class="fa fa-list"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<society-footer></society-footer>
