<div class="societyHeader"></div>
<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Requested Servent's List
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-residentDashboard"></i>  <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-users"></i> Requested Servent's List
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2>Servents you have requested for</h2>
                <div class="table-responsive">
                    <table id="entry-grid" datatable="ng" width="100%">
                        <thead>
                            <th>Servent Name</th>
                            <th>Servent Contact Number</th>
                            <th>Resident Name</th>
                            <th>Resident Contact Number</th>
                            <th>Request Date</th>
                            <th>Request Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="req in AllRequests">
                                <td>{{req.name}}</td>
                                <td>{{req.contact_number}}</td>
                                <td>{{req.resident_name}}</td>
                                <td>{{req.resident_contact_number}}</td>
                                <td>{{req.request_date | date: 'dd MMM, yyyy'}}</td>
                                <td>{{req.status}}</td>
                                <td><a href="#"  data-toggle="modal" data-target="#myModal" title="Approve Request" ng-show="req.status=='Requested'" ng-click="setID(req.request_id)"><i class="fa fa-check"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<!-- For Details of Resident and Flat -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Approve request</h4>
        </div>
        <form name="updateDataForm">
            <div class="modal-body">
                <h4 class="pull-left">Comment</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" ng-show="error">{{errorMsg}}</div>
                        <div class="form-group">
                            <label>Enter Comment</label>
                            <textarea class="form-control" placeholder="Enter Comment...." ng-model="updateData.manager_comment" name="manager_comment" required></textarea>
                            <p ng-show="updateDataForm.manager_comment.$invalid && !updateDataForm.manager_comment.$pristine" class="help-block red-text">Please Enter Comment</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="updateDataForm.$invalid" data-dismiss="modal" ng-click="submitData()">Submit</button>
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
  </div>
</div>
<society-footer></society-footer>
