ul.nav.navbar-nav.side-nav {
    text-align: left;
    background-color: #748883;
    padding: 1.5% 0 1.5em 0;
}

ul.nav.navbar-nav.side-nav.resident-nav {
    text-align: left;
    background-color: #48352a;
    padding: 1.5% 0 1.5em 0;
    margin-top: -80px;
}
div.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: darkgreen;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

svg {
    width: 100%;
}

.cropArea.ng-pristine.ng-untouched.ng-valid {
    text-align: center;
}

.crop-image-container {
    margin-top: 2%
}

.crop-image-container img {
    width: 20%;
}

span.progress {
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0 !important;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: green;
    width: 0;
}

.red-text {
    color: red;
}

.choose-block {
    margin-top: 15%;
}

.main-block-container {
    width: 83.33%;
}

.block-container {
    border: 1px solid #5cb85c;
}

.block-image {
    border-top: 1px solid #5cb85c;
}

.block-storey {
    height: 5em;
}

.storey-name {
    padding: 1%;
    margin: 20% 0px 0 5%;
}

.block-flat {
    width: 5.3%;
    border: 1px solid #9e8989;
    height: 60%;
    margin: 1.5%;
    color: #fff;
    padding: 0 0.5% !important;
    cursor: pointer;
    position: relative;
}

.bhk-3 {
    background: #864141;
}

.bhk-2 {
    background: #2e8c08;
}

.bhk-1 {
    background: #f1863a;
}

.bhk-4 {
    background: #194dad;
}

.flat-number {
    font-size: 13px;
    text-align: center;
}

.indicator {
    height: 3%;
    width: 10%;
    float: left;
    margin-right: 8%;
}

.flatInfo {
    width: 9.2%;
    float: left;
    margin-right: 5px;
}

.storeyFlatsRow {
    margin: 5% 0 !important;
}

.flatNumber {
    margin: 0 0 10% 0;
    padding: 14% !important;
}

.close-flat-error {
    float: right;
    margin: 8px;
    cursor: pointer;
}

a.active {
    background-color: #596562;
}

.info-container {
    height: 120px;
    width: 150px;
    background: rgba(31, 29, 29, 0.73);
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    overflow: auto;
    margin: 0 30%;
    padding: 0 25%;
}

.resident {
    font-size: 0.8em;
}

.upar-arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid rgba(31, 29, 29, 0.73);
    width: 0;
    height: 0;
    margin-left: 20px;
}

.navbar-nav>li {
    padding-left: 0;
    margin-top: 5px;
}

.fa {
    margin: 3px 15px 0 0 !important;
    width: 1.1rem;
}

i.fa.fa-fw.fa-caret-down {
    float: right;
}

.collapse li {
    margin-top: 0.2em;
}

h2 {
    color: rgba(62, 59, 59, 0.69) !important;
    margin: 0;
}


/*For Datatable*/

.dataTables_wrapper {
    margin: 1%;
}

.dataTables_length select {
    padding: 0 0px 0px 15%;
    margin: 0;
    height: auto;
    width: auto;
    border: 1px solid #a99595;
    font-size: 13px;
}

.dataTables_length label,
.dataTables_filter label {
    font-size: 13px;
    float: left;
    margin: 0;
}

div#entry-grid_filter {
    padding: 0;
}

.dataTables_filter input[type="search"] {
    height: 25px;
    width: auto;
    border: 4px solid #fff;
    box-shadow: 2px 9px 32px 1px #d7d7d7;
    border-radius: 24px;
    background: #ececec;
    padding: 15px;
    font-size: 14px;
    color: #867676;
}

table#entry-grid {
    outline: 0.5pt;
    border: 0 solid #a99595;
    border-radius: 2px;
    border-bottom: 1px solid #a99595;
    margin-bottom: 10px;
    padding-top: 15px;
}

table#entry-grid thead {
    /*background: #f48fb1;*/
    background-color: rgb(220, 104, 5);
    color: #000 !important;
    font-size: 13px;
}

table#entry-grid thead th {
    color: #fff;
    font-weight: 500;
}

table#entry-grid tbody {
    font-size: 13px;
    color: #726767;
}

i.fa.fa-eye,
i.fa.fa-trash,
i.fa.fa-plus,
i.fa.fa-building-o,
i.fa.fa-edit {
    padding: 0;
    margin: 2px !important;
}

div#entry-grid_info {
    font-size: 13px;
    font-weight: 600;
    color: #776868;
}

div#entry-grid_paginate {
    font-size: 13px;
}

a.paginate_button.current {
    padding: 0px !important;
}

table.dataTable tbody tr.odd {
    background-color: #fff;
}

table.dataTable tbody tr.odd:hover {
    background-color: #f5f5f5;
}

.col-lg-12 h2 {
    margin-bottom: 0;
    border-bottom: 1px dotted #b1a5a5;
	color: #a27e5e!important;
}

.society-logo-container img {
    height: 40px;
    border-radius: 50%;
    margin: -4% 10px 0% 5px;
    float: left;
}

.printablePart {
    margin-left: -27%;
    width: 127% !important;
}

.Complaint-Form-Header {
    text-align: center;
    text-decoration: underline;
}

.Complaint-Form-Value {
    /*display: block;*/
    font-size: 10px;
    font-weight: 100;
    text-align: justify;
    /*border-bottom: 1px dashed #000;*/
}

.Complaint-Form-Label {
    font-size: 10px;
    color: #000;
    font-weight: 500;
    padding-left: 3%;
    min-width: 100px;
}

#entry-grid_length {
    display: none;
}

.main-complaint-container tr {
    background-color: #fff !important;
    border: none;
}

.Complaint-Form-Label b {
    float: right;
}

.profile-form-container {
    margin-left: -225px !important;
}

.profile-update-form {
    background: rgba(119, 114, 114, 0.37);
    z-index: 9999;
    width: 100%;
    height: 100%;
}

form.profile-detail-form {
    margin: 3% 0 0 8%;
}

label.profile-form-label {
    color: #fff;
}

.management-logo-container img,
.man2help-logo-container img {
    height: 50px;
    border-radius: 0;
    margin: 0% 0px 0% 5px;
    float: left;
    padding: 2px;
    /* width: 25%;*/
}

.new-notification-count {
    color: #d61f1f;
    font-size: 10px;
    font-weight: 900;
    position: absolute;
    right: 35%;
    top: 25%;
}

a.see-all-notifications {
    text-align: center;
}

a.see-all-notifications span {
    color: #3368C9;
}


/*For Drawer*/


/*button.navbar-toggle {
    display: block;
    float: left;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 10px;
}*/

.loader-container {
    position: fixed;
    background: rgba(42, 46, 45, 0.81);
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15%;
}

.profile-progress {
    width: 250px;
    background: #f5f5f5;
    height: 10px;
    margin-top: 8%;
    padding: 0 0 0 0 !important;
    border-radius: 5px;
    overflow: hidden;
}

.profile-progress:hover,
.profile-progress:focus,
.profile-progress:visited {
    background-color: #fff !important;
}

progress-bar {
    font-size: 10px;
    position: absolute;
    top: -5px;
    left: 22%;
    text-align: center;
    color: #fff;
}

a.active + .collapse.in {
    display: block;
    height: auto;
}


/*
a.active + .collapse.in {
    display: none;
}*/

a.paginate_button.current:hover {
    padding: 0px !important;
}


/*Datatable*/

a.dt-button {
    padding: 0.4em !important;
    font-size: 0.7em !important;
    background: #F48FB1 !important;
    border: 1px solid #d11756 !important;
}

div.dt-buttons {
    /*top: 30px;*/
}


/*Datepicker CSS*/

div#ui-datepicker-div {
    width: 22%;
    font-size: 0.7em;
}

button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all,
.ui-datepicker .ui-datepicker-buttonpane button {
    padding: 0px 5px 0px 5px !important;
    color: #000 !important;
    font-size: 0.9em;
    font-weight: 900;
}

.ui-timepicker-div dl {
    margin: 0 !important;
}

.ui-timepicker-div dl dt {
    margin: 0 !important;
    font-size: 0.9em;
    padding: 0;
    font-weight: 600;
}

.ui-timepicker-div dl dd {
    margin: 18px 10px 10px 40% !important;
}

.select2-container {
    width: 100% !important;
    padding: 0px;
    font-size: 10px;
}


/*Calendar Css*/

#calendar {
    height: 50%;
    display: block;
    ;
    overflow: hidden;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
    display: none !important;
}

.fc-head-container .fc-row,
.fc-head-container table,
.fc-content-skeleton table,
fc-bg table,
.fc-row table,
.fc table {
    margin: 0 !important;
}

.fc-state-default.fc-corner-left,
.fc-state-default.fc-corner-right {
    border-radius: 0px !important;
    padding: 0 .4em !important;
    margin: 0px 0 0px 2px !important;
}

.fc-scroller.fc-day-grid-container {
    overflow: hidden !important;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: none !important;
}

td.fc-day-top {
    text-align: center !important;
}

.fc-content-skeleton table tbody tr {
    display: none;
}

.fc-basic-view .fc-body .fc-row {
    max-height: 35px !important;
    min-height: 10px !important;
}


/*Job Card*/

.society-logo-job-card {
    width: 10%;
    height: 12%;
    overflow: hidden;
    position: absolute;
    left: 4%;
    border-radius: 50%;
}

.society-logo-job-card img {
    width: 100%;
    height: 100%;
}


/*Scrollbar CSS*/

body::-webkit-scrollbar,
ul.nav.navbar-nav.side-nav::-webkit-scrollbar {
    width: 0.4em;
	padding-top:10px;
	
}

body::-webkit-scrollbar-track,
ul.nav.navbar-nav.side-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	padding-top:5px;
}

body::-webkit-scrollbar-thumb,
ul.nav.navbar-nav.side-nav::-webkit-scrollbar-thumb {
   background: #ccc;
   box-shadow: 1px 1px #333;
   border-radius: 1em;
}

.outer-cover {
    height: 345px;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.7;
    margin: 0 0 1.2em 0.5em;
    border-radius: 5px;
}

.outer-cover1 {
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.7;
    margin: 0 0 1.2em 0.5em;
    border-radius: 5px;
}

.title {
    color: #fff;
    position: relative;
    left: 0em;
    text-align: center;
    font-size: 28px;
}

.title.description {
    left: 0;
    text-align: justify;
    width: 100%;
    font-size: 17px;
    padding: 1em;
    height: 13em;
    overflow: hidden;
    margin-bottom: -90px;
}

.title.charge {
    /*left: 4em;*/
    height: 8em;
    margin-bottom: -160px
}

.title.charge .fa.fa-inr {
    margin: 0 !important;
}

.cover-overlay {
    background: rgba(0, 0, 0, 0.28);
    height: 100%;
}

button.btn.btn-success.payment {
    margin-top: 30px;
    margin-left: 44%;
}

.contribution {
    color: #fff;
    position: relative;
    left: 0em;
    text-align: center;
    font-size: 20px;
}

.inner-addon {
    position: relative;
}
