<residentheader></residentheader>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                   <!--  Dashboard -->
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-users"></i> {{tenantsFilter}} Tenants
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2>{{tenantsFilter}} Tenants</h2>
                <div class="table-responsive">
                    <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover " width="100%"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Move Out Details</h4>
      </div>
      <div class="modal-body">
        <form name="flatUpdateForm">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label>Move Out Date</label>
                        <input type="text" datepicker class="form-control" name="first_name" ng-model="move_out_date" placeholder="Enter Area" required>
                        <p ng-show="flatUpdateForm.first_name.$invalid && !flatUpdateForm.first_name.$pristine" class="help-block red-text">Please enter move out date</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="flatUpdateForm.$invalid" ng-click="tenantMoveOut()" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
        </div>
    </div>
    </form>
  </div>
</div>
