<div id="page-wrapper" >
    <div class="container-fluid">
        <!-- Page Heading -->
        <h2 class="Complaint-Form-Header">Resident's Copy</h2>
        <div class="row">
            <div class="col-sm-1 col-md-1 col-xs-1"></div>
            <table class="main-complaint-container" border="3">
                <tr>
                    <th class="Complaint-Form-Label">Payment Date <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.addedon | date:'dd MMM, yyyy'}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">Resident Name <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.firstname}}</td>
                    <th class="Complaint-Form-Label">Flat Number <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.flat_number}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">Payment Id <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.id}}</td>
                    <th class="Complaint-Form-Label"> Payment Mode <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.mode}}</td>
                </tr>
                <!-- <tr>
                    <th class="Complaint-Form-Label">Discount <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.discount}}</td>
                </tr> -->
                
                <tr>
                    <th class="Complaint-Form-Label"> Block Name <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.name}}</td>
                    <th class="Complaint-Form-Label">Manager Name  <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.manager_name}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">Amount <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.amount}}</td>
                    <th class="Complaint-Form-Label">Additional Charges <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.additionalCharges}}</td>
                </tr>
                <tr ng-repeat="pro in transDetail.productinfo">
                    <th class="Complaint-Form-Label"> Paid For <b>:</b></th>
                    <td class="Complaint-Form-Value">{{pro.name}}</td>
                    <th class="Complaint-Form-Label">Amount Paid  <b>:</b></th>
                    <td class="Complaint-Form-Value">{{pro.amount}}</td>
                </tr>
                <tr>
                    <!-- <th class="Complaint-Form-Label">Added On <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.addedon | date:'dd MMM, yyyy'}}</td> -->
                    <th class="Complaint-Form-Label">Transaction Status<b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.transaction_status}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">E-Mail <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.email}}</td>
                    <th class="Complaint-Form-Label">Phone Number <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.phone}}</td>
                </tr>
                
                
            </table>
        </div>
        <h2 class="Complaint-Form-Header">Manager's Copy</h2>
        <div class="row">
            <div class="col-sm-1 col-md-1 col-xs-1"></div>
            <table class="main-complaint-container" border="3">
                <tr>
                    <th class="Complaint-Form-Label">Payment Date <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.addedon | date:'dd MMM, yyyy'}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">Resident Name <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.firstname}}</td>
                    <th class="Complaint-Form-Label">Flat Number <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.flat_number}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">Payment Id <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.id}}</td>
                    <th class="Complaint-Form-Label"> Payment Mode <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.mode}}</td>
                </tr>
                <!-- <tr>
                    <th class="Complaint-Form-Label">Discount <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.discount}}</td>
                </tr> -->

                <tr>
                    <th class="Complaint-Form-Label"> Block Name <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.name}}</td>
                    <th class="Complaint-Form-Label">Manager Name  <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.manager_name}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">Amount <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.amount}}</td>
                    <th class="Complaint-Form-Label">Additional Charges <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.additionalCharges}}</td>
                </tr>
                <tr ng-repeat="pro in transDetail.productinfo">
                    <th class="Complaint-Form-Label"> Paid For <b>:</b></th>
                    <td class="Complaint-Form-Value">{{pro.name}}</td>
                    <th class="Complaint-Form-Label">Amount Paid  <b>:</b></th>
                    <td class="Complaint-Form-Value">{{pro.amount}}</td>
                </tr>
                <tr>
                    
                    <th class="Complaint-Form-Label">Transaction Status<b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.transaction_status}}</td>
                </tr>
                <tr>
                    <th class="Complaint-Form-Label">E-Mail <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.email}}</td>
                    <th class="Complaint-Form-Label">Phone Number <b>:</b></th>
                    <td class="Complaint-Form-Value">{{transDetail.phone}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->